{% extends "base.html" %} {% block title %} Search {% endblock %} {% block
content %}
<div class="mx-auto container">
  <form action="#" method="post">
    <div class="form-group">
      <label>Insert city name:</label>

      <input
        class="form-control"
        type="text"
        name="cityname"
        value=""
        required
      />

      <label>Insert country:</label>

      <input
        class="form-control"
        type="text"
        name="countryname"
        value=""
        required
      />
      <input
        type="submit"
        value="search"
        name="submit"
        class="btn btn-primary mb-2 mt-2"
      />
    </div>
  </form>
  <p>{{mes}}</p>
</div>

{% endblock %}
